-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "animation_events" (
    "id" SERIAL NOT NULL,
    "animation_id" INTEGER NOT NULL,
    "component_id" INTEGER NOT NULL,
    "trigger_time" DECIMAL NOT NULL,
    "action" VARCHAR(255) NOT NULL,

    CONSTRAINT "animation_event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "animations" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "duration_s" DECIMAL,
    "loop" BOOLEAN,

    CONSTRAINT "animation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "components" (
    "id" SERIAL NOT NULL,
    "type" VARCHAR(255),
    "pin" INTEGER,
    "x" INTEGER,
    "y" INTEGER,

    CONSTRAINT "components_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "modules" (
    "id" SERIAL NOT NULL,
    "address" VARCHAR(255) NOT NULL,
    "name" VARCHAR(255),

    CONSTRAINT "ports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "states" (
    "id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "animation_id" INTEGER,
    "x" INTEGER,
    "y" INTEGER,

    CONSTRAINT "states_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transitions" (
    "id" SERIAL NOT NULL,
    "from_id" INTEGER NOT NULL,
    "to_id" INTEGER NOT NULL,
    "condition" VARCHAR(255),

    CONSTRAINT "transitions_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "animation_events" ADD CONSTRAINT "fk_animation_id" FOREIGN KEY ("animation_id") REFERENCES "animations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "animation_events" ADD CONSTRAINT "fk_component_id" FOREIGN KEY ("component_id") REFERENCES "components"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "states" ADD CONSTRAINT "fk_animation_id" FOREIGN KEY ("animation_id") REFERENCES "animations"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "transitions" ADD CONSTRAINT "transitions_from_id_fkey" FOREIGN KEY ("from_id") REFERENCES "states"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "transitions" ADD CONSTRAINT "transitions_to_id_fkey" FOREIGN KEY ("to_id") REFERENCES "states"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

